.input {
	width: 626px;
	height: 64px;
	margin-top: 128px;
	margin-bottom: 20px;
	padding-left: 30px;
	box-shadow: 0px 6px 10px 1px var(--shadow-color);
	border: 1px solid #fff;
	font-size: 22px;
	font-weight: 700;
	color: rgba(101, 110, 194, 1);
	font-family: var(--font-family-main);
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.input::placeholder {
	color: rgba(101, 110, 194, 1);
	opacity: 1;
}

.input:-ms-input-placeholder {
	color: rgba(101, 110, 194, 1);
}

.input::-ms-input-placeholder {
	color: rgba(101, 110, 194, 1);
}

@media (max-width: 940px) {
	.input {
		width: 70%;
	}
}

@media (max-width: 576px) {
	.input {
		width: 70%;
		height: 44px;
		margin-top: 68px;
		margin-bottom: 15px;
		padding-left: 20px;
		font-size: 16px;
	}
}

@media (max-width: 424px) {
	.input {
		font-size: 14px;
	}
}
